body{
    background-color:#eeeeee;
    
    display: flex;
    flex-direction: column;
}
nav{
    background-color: #393e46;
    display: flex;
    justify-content: space-between;
    width: 100%;
    
    padding:1.5%;

}
form{
    margin: 2%;
    display: flex;
    flex-direction: column;
    align-content: space-between;

}