body{
    background-color:#eeeeee;
    
    display: flex;
    flex-direction: column;
}
nav{
    background-color: #393e46;
    display: flex;
    justify-content: space-between;
    width: 100%;
    
    padding:1.5%;

}
#tarjeta{
    display: flex;
    justify-content: center;

    width: 100%;
   
}
.card{
    background-color: #00adb5;
    margin: 1%;
    display: flex;
}
.lista{
    display: grid;
    grid-template-columns: 20% 40% 40%;
    background-color: #FFFFFF;
}



