body{
    background-color:#eeeeee;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 10%;
    
}
form{
    background-color: #393e46;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%; 
    padding: 2%;
    border-radius: 5%;
    
   
}
h3, label, button{
    color: #00adb5;
}